<h1>My Artists</h1>
<br>

<ul>
        <li><h3><%=@artist.name%></h3></li>
        <br>
        <li><h3><%=@artist.bio%></h3></li>
        <br>

</ul>





<br>
<%=link_to "Artists page", "/artists/"%>
<br>